.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.device {
  position: absolute;
  top: 10px;
  width: 40vw;
  height: 70vh;
  margin: 80px 0;
  border: 5px solid rgb(54, 168, 255);
  border-radius: 50px;
  display: flex;
}

.decoration {
  display: inline-block;
  width: 15%;
  background-image: url("./assets/planet-decoration.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  height: 100%;
  margin: auto;
}

.carousel-wrapper * {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  position: relative;
  top: 50px;
  display: flex;
  width: 100%;
  height: 75%;
}

.carousel_item {
  position: absolute;
  max-height: 500px;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.carousel_item.active {
  opacity: 1;
  z-index: 900;
}

.carousel_item.prev,
.carousel_item.next {
  z-index: 800;
}

.carousel_item.prev {
  transform: translateX(-100%);
}

.carousel_item.next {
  transform: translateX(100%);
}

.buttons {
  position: absolute;
  top: 570px;
  left: calc(50% - 73px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 150px;
}

.carousel_button--prev,
.carousel_button--next {
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  border: 5px solid rgb(54, 168, 255);
}

.carousel_button--prev {
  left: 0;
}

.carousel_button--next {
  right: 0;
}

.carousel_button--prev::after,
.carousel_button--next::after {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 5px solid rgb(54, 168, 255);
  border-bottom: 5px solid rgb(54, 168, 255);
  transform: translate(-50%, -50%) rotate(135deg);
}

.carousel_button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
